{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Створити новий пароль</h4>
                </div>
                <form action="{% url 'password_reset_confirm' uidb64=uid token=token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    
                    <div class="form-group">
                        <input
                                type="password"
                                name="password"
                                placeholder="Пароль"
                                id="passwordField"
                                class="form-control form-control-sm"
                        />
                        <small class="float-right py-3 showPasswordToggle">Показати пароль</small>

                    </div>
                    
                    <div class="form-group">
                        <input
                                type="password"
                                name="confirm_password"
                                placeholder="Піддтвердження паролю"
                                id="passwordField"
                                class="form-control form-control-sm"
                        />
                        <small class="float-right py-3 showPasswordToggle">Показати пароль</small>

                    </div>
                    
                    <input type="submit" value="Підтвердити" class="btn btn-block btn-primary submit-btn"/>


                </form>
                <div class="container">
                    <span class="text-lead lead">Вже зареєстровані? </span><a href="{% url 'login' %}">Увійти</a><br>
                    <span class="text-lead lead">Не зареєстровані? </span><a href="{% url 'register' %}">Реєстрація</a>
                    
                </div>
            </div>
            
        </div>

    </div>
</div>
<div class="col-md-4"></div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}


