{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Введіть свою пошту для створення нового пароля</h4>
                </div>
                <form action="{% url 'reset-password' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    
                    <div class="form-group">
                        <input
                            type="email"
                            name="email"
                            placeholder="Електронна пошта"
                            id="emailField"
                            class="form-control form-control-sm"
                            value="{{values.email}}"
                        />
                    </div>
                    
                    <input type="submit" value="Відправити" class="btn btn-block btn-primary submit-btn"/>


                </form>
                <div class="container">
                    <span class="text-lead lead">Вже зареєстровані? </span><a href="{% url 'login' %}">Увійти</a><br>
                    <span class="text-lead lead">Ще не зареєстровані? </span><a href="{% url 'register' %}">Реєстрація</a>
                    
                </div>
            </div>
            
        </div>

    </div>
</div>
<div class="col-md-4"></div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}


