{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fin Control  {% block title %}
    {% endblock %}   </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="icon" type="image/ico" href={% static 'favicon/favicon.ico' %}>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fin Control</a>
  <ul
          class="navbar-nav px-3"
          style="display: flex; flex-direction: row; align-items:center;"
  >
  <li class="nav-item text-nowrap">
        <a class="nav-link" href="">
            ({{ request.user.username }})
        </a>
    </li>
    <li class="nav-item text-nowrap mt-3 ml-2">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input class="text text-capitalize" type="submit" value="Вийти"/>
        </form>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row" style="padding-top: 70px">
  <div class="col-md-3 col-lg-2 sidebar">
    {% include 'partials/_sidebar.html' %}
  </div>

    <main role="main" class="col-md-9 col-lg-10 main-content">
      {% block content %}



      {% endblock %}
    </main>
  </div>
</div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>