{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fin Control  {% block title %}
    {% endblock %}   </title>
    <!-- Bootstrap core CSS -->
    <link rel="icon" href={% static 'favicon/favicon3.png' %} type="image/x-icon">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>


    <main role="main">


      {% block content %}

      {% endblock %}



    </main>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>